h1{
  font-size: 30px;
  color: grey;
  /*color: #333333;*/
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 70px 10px 15px 5px;
  /*top right bottom left*/
}


/*h1, h2{
font-family: "Helvetica", "Arial", sans-serif;
}*/

p{
text-align: center;
}

.menu{
  display: flex;  /*flex*/
  justify-content: center;
  padding-top: 10px;
}

.menu > li{
  /*child selector notation */
  display: inline;
  margin-right: 50px;
}

.column{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 144px;
  background-color: lavender;
}

.projects{
/*width: 900px;*/
  width: 75%
  margin: 0 auto;
}
/* p{
text-align: center;
} */
